.add-patient {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6rem;
}

.add-patient-container {
    margin-top: 2rem;
    width: 600px;
    padding: 2rem 4rem;
    padding-bottom: 6rem;
}

.add-patient-title {
    text-align: center;
}

.add-patient-btn {
    margin-top: 1rem;
    width: 474px;
}
