.add-staff-number {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6rem;
}
 

.add-staff-number-container {
    margin-top: 2rem;
    width: 600px;
    padding: 2rem 4rem;
    padding-bottom: 6rem;
}

.add-staff-number-title {
    text-align: center;
}

.add-staff-number-btn {
    margin-top: 1rem;
    width: 474px;
}
